@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" style="margin-left:15px; margin-top: 15px">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>